---
import Button from "../components/Button.astro";
import Experience from "../components/Experience.astro";
import Project from "../components/Project.astro";
import Technology from "../components/Technology.astro";
import { experience, projects, techStack } from "../data/data";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout pageTitle="Manuel">
  <header id="top">
    <div
      class="relative w-full h-screen flex flex-col justify-center items-center text-center gap-5"
    >
      <p class="text-4xl mx-2 lg:text-7xl font-semibold
         font-opensans">
        <span class="hi inline-block">Hi,</span>
        <span class="im"> Im </span>
        <span class="name inline-block text-highlight text-glow">
          Manuel Dalacan
        </span>

        <br />
        <span class="description font-light">
          {
            "a full stack developer"
              .split("")
              .map((char) => (
                <span class="inline-block opacity-0 -translate-y-2">
                  {char === " " ? "\u00A0" : char}
                </span>
              ))
          }
        </span>
      </p>
      <div
        class="subtitle max-w-[50ch] mx-10 inline-block opacity-0 -translate-y-8 text-md text-text-secondary"
      >
        <p>
          As a fullstack developer, I build modern web apps with tools like
          <span class="text-highlight text-glow">
            React, Astro.js, Next.js & Tailwind CSS.
          </span>
        </p>

        <div class="flex justify-center pt-4 gap-4">
          <Button
            title="Resumé"
            link="/resume/ManuelJohnDalacan.pdf"
            target="_blank"
          />
          <Button title="Contact" link="#contacts" />
        </div>
      </div>
      <a
        class="scroll-round absolute bottom-20 lg:bottom-30 flex justify-center items-center rounded-full shadow-2xl w-12 h-12 lg:w-16 lg:h-16 bg-white opacity-0"
        href="#about"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-down-icon lucide-arrow-down"
          ><path d="M12 5v14"></path><path d="m19 12-7 7-7-7"></path></svg
        >
      </a>
    </div>
  </header>
  <span id="about"></span>
  <main class="max-w-[80ch] mx-5 md:mx-auto my-20">
    <div class="flex flex-col gap-20">
      <section>
        <h2 class="about-title">About Me</h2>
        <div
          class="about-me leading-8 text-text-secondary px-5 space-y-5 grid lg:grid-cols-3 gap-5 indent-8 lg:indent-0"
        >
          <p class="about-paragraph-1">
            Hi, I'm a Junior software developer with a strong foundation in
            JavaScript, React, Node.js. I enjoy building clean, user-friendly
            applications and solving real-world problems through code.
          </p>
          <p class="about-paragraph-2">
            I’m particularly interested in full-stack development, frontend
            frameworks, clean UI/UX, scalable backend systems, and I'm always
            eager to learn new technologies and collaborate with others.
          </p>
          <p class="about-paragraph-3">
            In the next few years, I hope to grow into a Senior Developer or
            Technical Lead, helping deliver impactful products while mentoring
            others and continuously improving as a developer.
          </p>
        </div>
      </section>

      <span id="experience" class="w-full h-px bg-black/10"></span>

      <section class="grid grid-cols-1 lg:grid-cols-5 lg:gap-10 items-baseline">
        <h2 class="experience-title col-span-1">Experience</h2>
        <div class="col-span-4 flex flex-col gap-5">
          {
            experience.map((exp, index) => (
              <div class={`experience-card flex flex-row`}>
                <span class="text-secondary">0{index + 1}</span>
                <Experience
                  date={exp.date}
                  location={exp.location}
                  position={exp.position}
                  company={exp.company}
                  description={exp.description}
                />
              </div>
            ))
          }
        </div>
      </section>
      <span id="projects" class="w-full h-px bg-black/10"></span>
      <section class="grid grid-cols-1 lg:grid-cols-5 lg:gap-10 items-baseline">
        <h2 class="project-title col-span-1">Projects</h2>
        <div class="col-span-4 flex flex-col gap-5">
          {
            projects.map((proj, index) => (
              <div class="project-card flex flex-row ">
                <span class="text-secondary">0{index + 1}</span>
                <Project
                  date={proj.date}
                  title={proj.title}
                  description={proj.description}
                  link={proj.link}
                  img={proj.img}
                  vid={proj.vid}
                />
              </div>
            ))
          }
        </div>
      </section>
      <span id="skills" class="w-full h-px bg-black/10"></span>

      <section class="grid grid-cols-1 lg:grid-cols-5 lg:gap-10 items-baseline">
        <h2 class="tech-title col-span-1">Tech Stack</h2>
        <!-- <HorizontalLine /> -->
        <div class="col-span-4 flex flex-wrap gap-2">
          {
            techStack.map((item) => (
              <span class="tech-button">
                <Technology
                  color={item.color}
                  title={item.title}
                  logo={item.logo}
                />
              </span>
            ))
          }
        </div>
      </section>
      <span id="contacts" class="w-full h-px bg-black/10"></span>

      <section class="grid grid-cols-1 lg:grid-cols-5 lg:gap-10 items-baseline">
        <h2 class="contact-title col-span-1">Contact</h2>
        <!-- <HorizontalLine /> -->
        <div class="contact-content col-span-4">
          <h2>Lets get in touch!</h2>
          <p>
            You can reach me on my <a
              class="text-blue-600"
              href="https://www.linkedin.com/in/manuel-john-dalacan-80406121b"
              target="_blank">linkedIn</a
            > or through my e-mail: dalacan.manuel96@gmail.com
          </p>
        </div>
      </section>
    </div>
  </main>
</Layout>

<script>
  import { navAnimation } from "../animations/navAnimations";
  import { headerAnimation } from "../animations/headerAnimations";
  import { aboutAnimation } from "../animations/aboutAnimations";
  import { experienceAnimation } from "../animations/experienceAnimations";
  import { projectAnimation } from "../animations/projectAnimations";
  import { techAnimation } from "../animations/techAnimations";
  import { contactAnimation } from "../animations/contactAnimations";
  headerAnimation();
  navAnimation();
  aboutAnimation();
  experienceAnimation();
  projectAnimation();
  techAnimation();
  contactAnimation();
</script>
